body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

form {
    text-align: center;
    margin: 20px 0;
}

#searchInput {
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #335c34;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
}
